
<script >$(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.parallax').parallax();
        $(".dropdown-button").dropdown({
            hover: true,
            belowOrigin: true
        });
      });</script>

<nav ng-cloak ng-controller="menuController" class="grey lighten-5" role="navigation">
    <div class="nav-wrapper container">
        <!-- <a id="logo-container" style="color:#1a237e;" href="#" class="brand-logo">Logo</a> -->
        <a id="logo-container" ui-sref="home" class="brand-logo"><img style="width:150px;margin-top:17px;" src="images/logo9.png"></img></a>
        
        <ul class="right hide-on-med-and-down">             
            <li><a ui-sref="principal" style="color:#5e5d5d;">Níveis</a></li>
            <li><a class="dropdown-button" style="color:#5e5d5d;" data-activates="dropdown1">Bem-vindo, {{nome}} &nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a style="color:#5e5d5d;">Bem-vindo, {{nome}}</a></li>
            <li><a ui-sref="home" style="color:#5e5d5d;">Início</a></li>
            <li><a ui-sref="principal" style="color:#5e5d5d;">Níveis</a></li>
            <!-- <li><a>Configurações</a></li> -->
            <li><a href="logout">Sair</a></li>
        </ul>
        
        <!--
        <ul id="nav-mobile" class="side-nav">
            <li><a ui-sref="home" style="color:#5e5d5d;">Início</a></li>
            <li><a ui-sref="principal" style="color:#5e5d5d;">Níveis</a></li>

            <li><a class="dropdown-button" style="color:#5e5d5d;"  data-activates="dropdown2">Bem Vindo, {{nome}} &nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a></li>

        </ul>
        -->
        <a href="" data-activates="nav-mobile" style="color:#5e5d5d;" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>


<ul id="dropdown1" class="dropdown-content">
    <!-- <li><a style="color:#5e5d5d;" >Configurações</a></li>
    <li class="divider"></li> -->
    <li><a style="color:#5e5d5d;" href="logout">Sair</a></li>
</ul>

<!--
<ul id="dropdown2" class="dropdown-content">
    <li><a >Configurações</a></li>       
    <li class="divider"></li>
    <li><a ui-sref="logout">Sair</a></li>
</ul>
-->