
<script src="js/init.js"></script> 
<nav ng-cloak class="grey lighten-5" role="navigation">
    <div class="nav-wrapper container">
        <!-- <a id="logo-container" style="color:#1a237e;" href="#" class="brand-logo">Logo</a> -->
        <a id="logo-container" href="#!home" class="brand-logo"><img style="width:150px;margin-top:17px;" src="images/logo9.png"></img></a>
        <ul class="right hide-on-med-and-down">        

            <li><a ui-sref="login"  style="color:#5e5d5d;">Entrar</a></li>
            <!-- <li><a href="trocarSenha"style="color:#5e5d5d;">trocar</a></li> -->
            <!--  <li><a href="esqueciSenha"style="color:#5e5d5d;">esqueciSenha</a></li> -->
            <!-- <li><a ui-sref="principal" style="color:#5e5d5d;">principal</a></li> -->
            <li><a ui-sref="cadastro"class="waves-effect waves-light btn green darken-2" >Cadastre-se</a></li>

        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a ui-sref="home" style="color:#5e5d5d;">Início</a></li>
            <li><a ui-sref="cadastro" style="color:#5e5d5d;">Cadastre-se</a></li>
            <li><a ui-sref="login"  style="color:#5e5d5d;">Entrar</a></li>
            <!-- <li><a ui-sref="principal" style="color:#5e5d5d;">principal</a></li> -->
        </ul>
        <a href="" data-activates="nav-mobile" style="color:#5e5d5d;" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

