
<div ng-cloak ng-controller="conteudoController">
    <div id="menu"></div>

    <div class="row teal  lighten-2" style="width:100%;margin-top:30px;">
        <div class="container" >
            <div class="section "  >
                <div  class="row" style="margin:0;" >
                    <div class="col s12">
                        <div class="col s12 m12 l1 center">
                            <i class="fa fa-book " style="font-size:50px; color: #f4f8f9; margin-top:10px;" aria-hidden="true"></i>
                        </div>
                        <!-- <div classs="col s12 center"><h1 style="color: #f4f8f9;">Trocar Senha</h1></div> -->
                        <div class="col s12 m12 l11 center">
                            <label  id="titleHead" style="color: #f4f8f9; font-size:50px; ">{{conteudo.name}}</label>
                            <!-- <label class="hide-on-large-only" id="titleHead" style="margin-left:10px; color: #f4f8f9; font-size:30px;">Conteúdo</label> -->
                            <!-- <label class="hide-on-med-and-down" id="titleHead" style="margin:20px 0 0 10px; color: #f4f8f9; font-size:30px;">Conteúdo</label> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section card-panel" style="background: #ffffff; padding:50px;" >

            <div class="col s12">
                <div class="row" style="margin-bottom:0px;">
                    <div class="col s12">
                        <div ng-bind-html="conteudo.content" style="text-align: justify; text-indent: 2.5em;"></div>
                    </div>

                </div>
                <div class="row" style="margin-top:50px;">
                    <div class="col s12">
                        <div class="col s12 l6 btnContentDiv hide-on-med-and-down">
                            <div class="section">
                                <a href="javascript:history.back()" class="btn waves-effect waves-light btn teal darken-2 btnContentL" style="width:140px;">Voltar</a>
                            </div>
                        </div>

                        <!--
                        <div class="col s12 l6 btnContentDiv">
                            <div class="section">
                                <a href="#!questoes" class="btn waves-effect waves-light btn teal darken-2 btnContentR " style="width:140px;">Avançar</a>
                            </div>
                        </div>
                        -->

                        <div class="col s12 l6 btnContentDiv hide-on-large-only">
                            <div class="section">
                                <a href="javascript:history.back()" class="btn waves-effect waves-light btn teal darken-2 btnContentL" style="width:140px;">Voltar</a>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>