 <div ng-controller="loginController">
     <div id="menu"></div>

    <div class="row indigo lighten-2" style="width:100%;margin-top:30px;">
        <div class="container" >   
            <div class="section" > 
                <div  class="row" style="margin:0;" >
                    <div class="col s12">
                        <div class="col s12 m12 l2 center">
                            <i class="fa fa-user-circle " style="font-size:100px; color: #f4f8f9; margin-top:10px;" aria-hidden="true"></i>
                        </div>
                        <!-- <div classs="col s12 center"><h1 style="color: #f4f8f9;">Trocar Senha</h1></div> -->
                        <div class="col s12 m12 l10 center"><h1 id="titleHead" style="color: #f4f8f9; ">Entrar</h1></div>
                        
                    </div>
                </div>    
            </div>
        </div>
        
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col s12 m6" >
                <div class="section">
                    <form  class="col s12 card-panel hoverable" name="frmLogin" style="margin-top:40px;background:#ffffff; padding:20px 40px 40px 40px;">
                        <div class="input-field col s12">
                            <h5>Entre e continue de onde você parou.</h5>
                        </div>
                        <div class="input-field col s12">
                            <label for="txtEmail">Digite seu e-mail</label>
                            <input id="txtEmail" type="email" name="email" ng-model="dados.email" class="validate" required>
                        </div>
                        <div class="input-field col s12">
                            <label for="txtSenha">Digite sua senha</label>
                            <input id="txtSenha" type="password" name="senha" ng-model="dados.password" class="validate" required>
                        </div>
                        <div class="col s12"> 
                            <a href="#!esqueci" >Esqueceu sua senha?</a>
                        </div>
                        <div class="col s12" style="margin-top: 20px;">
                            <button class="waves-effect waves-light btn indigo darken-2" type="button" ng-click="submit()" >ENTRAR</button>
                        </div>                    
                        
                    </form>
                </div>
            </div>
                
            <div class="col s12 offset-m2 m4">
                <div class="section" >
                    <div class="col s12 card-panel hoverable" style="margin-top:40px;background:#ffffff;  padding:40px;">
                        <div class="col s12 center">
                            <h5>Ainda não se cadastrou?</h5>
                        </div>
                        <div class="col s12 center">
                            <p>Não perca tempo, cadastre-se e aprenda de um jeito rápido e fácil lógica de programação.</p>
                        </div>
                        <div class="col s12" style="text-align:center;">
                            <a href="#!cadastro" class="waves-effect waves-light btn green darken-2"  ng-click="cadastro()" >Começar agora</a>                        
                        </div>
                    </div>
                </div>
            </div>  
        </div>          
        
    </div>
 </div>