
 <div ng-controller="trocarSenhaController">
    <div id="menu"></div>
    <div class="row green lighten-2" style="width:100%;margin-top:30px;">
        <div class="container" >   
            <div class="section" > 
                <div  class="row" style="margin:0;" >
                    <div class="col s12">
                        <div class="col s12 m12 l2 center">
                            <i class="fa fa-user-circle " style="font-size:100px; color: #f4f8f9; margin-top:10px;" aria-hidden="true"></i>
                        </div>
                        <!-- <div classs="col s12 center"><h1 style="color: #f4f8f9;">Trocar Senha</h1></div> -->
                        <div class="col s12 m12 l10 center"><h1 id="titleHead" style="color: #f4f8f9; ">Alterar senha</h1></div>
                        
                    </div>
                </div>    
            </div>
        </div>
        
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col s12 offset-m3 m6" >
                <div class="section">
                    <form  class="col s12 card-panel hoverable" name="frmTrocar" style="background:#ffffff; padding:20px 40px 40px 40px;">
                        <div class="input-field col s12">
                            <label for="txtAntigaSenha">Senha enviada por e-mail</label>
                            <input id="txtAntigaSenha" type="password" name="txtAntigaSenha" ng-model="dados.old_password" class="validate" required>
                        </div>
                        <div class="input-field col s12">
                            <label for="txtNovaSenha">Nova senha</label>
                            <input id="txtNovaSenha" type="password" name="txtNovaSenha" ng-model="dados.new_password" password-strength="dados.new_password" class="validate" required>
                            <span data-ng-class="color" data-ng-show="frmTrocar.txtNovaSenha.$valid && frmTrocar.txtNovaSenha.$dirty">A senha digitada é {{strength}}.</span>
                        </div>
                        <div class="input-field col s12">
                            <label for="txtConfNovaSenha">Confirme a nova senha</label>
                            <input id="txtConfNovaSenha" type="password" name="txtConfNovaSenha" ng-model="dados.confirm_password" class="validate" required>
                        </div>                      
                        <div class="col s12" style="margin-top: 20px;">
                            <button class="waves-effect waves-light btn  green darken-2" type="button" ng-click="submit()" >ALTERAR</button>
                        </div>  
                    </form>
                </div>
            </div>             
             
        </div>          
        
    </div>
 </div>