<div ng-controller="esqueciSenhaController">
    <div id="menu"></div>
    <div class="row indigo lighten-2" style="width:100%;margin-top:30px;">
        <div class="container" >   
            <div class="section" > 
                <div  class="row" style="margin:0;" >
                    <div class="col s12">
                        <div class="col s12 m12 l2 center">
                            <i class="fa fa-user-circle " style="font-size:100px; color: #f4f8f9; margin-top:10px;" aria-hidden="true"></i>
                        </div>
                        <div class="col s12 m12 l10 center"><h1 id="titleHead" style="color: #f4f8f9; ">Esqueceu a senha?</h1></div>
                        
                    </div>
                </div>    
            </div>
        </div>
        
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col s12 offset-m3 m6" >
                <div class="section">
                    <form  class="col s12 card-panel hoverable" name="frmEsqueci" style="background:#ffffff; padding:20px 40px 40px 40px;">
                        <div class="input-field col s12">
                            <label for="txtEmail">Digite o e-mail utilizado no cadastro</label>
                            <input id="txtEmail" type="email" name="txtEmail" ng-model="dados.email" class="validate" required>
                        </div>                                        
                        <div class="col s12" style="margin-top: 20px;">
                            <button class="waves-effect waves-light btn  indigo darken-2" type="button" ng-click="submit()" >Enviar</button>
                        </div>  
                    </form>
                </div>
            </div>             
             
        </div>          
        
    </div>
 </div>